@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row justify-content-center">
    <div class="col-lg-8">
        <table class="table table-striped table-bordered mydatatable">
            <thead>
                <tr>
                    <th>Tag Name</th>
                    <th>Vehicle ID</th>
                    <th>Number</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Type</th>
                    <th>Reference</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var outage in Model.allOutages)
                {
                    <tr>
                        <td>@outage.TagName</td>
                        <td>@outage.SatelliteVehicleId </td>
                        <td>@outage.SatelliteVehicleNumber</td>
                        <td>@outage.StartTime</td>
                        <td>@outage.EndTime</td>
                        <td>@outage.Type</td>
                        <td>@outage.Reference</td>
                    </tr>
                }

            </tbody>
            <tfoot>
                <tr>
                    <th>Vehicle ID</th>
                    <th>Number</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Type</th>
                    <th>Reference</th>
                </tr>
            </tfoot>
        </table>
    </div> 
</div>

@section Scripts {
    <script src="~/js/data-table.js"></script>
}